# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2f9a7b721beca8877d3c89daaa25f8dc214ae73122922593cad781a69f329c579fe4a12b64f88a670b771bf94156254286452494a5e1b935666010fec9c8b711

test:
  secret_key_base: 3393aba0bc7df4bbd3baeaa2e1ec3d1627855648ab0787c59d0855fc74a2d210801d3214d941faa80967736c14166389e8ba6a278567edb67049d6cd4f579a42

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
